* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
header {
  background-image: url(./assets/images.jfif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}
.oscurecer-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  color: #fff;

  display: flex;
  flex-direction: column;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}
h1 span {
  text-transform: uppercase;
  color: rgb(162 0 255);
  font-weight: 600;
  font-size: 1.5rem;
}
.logo {
  color: #fff;
  font-weight: 300;
}
.logo::before,
.logo:after {
  color: rgb(162 0 255);
}
.logo::before {
  content: "<";
}
.logo:after {
  content: "/>";
}
.contenedor-superior {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
  width: 100%;
}
.navegacion-inactiva {
  display: none;
}
.navegacion-activa {
  position: absolute;
  left: 0;
  top: 0;
}
.hamburger-react {
  z-index: 100;
}
.navegacion--ul {
  margin: 0;
  padding: 0;
  position: absolute;

  background-color: black;
  height: 100vh;
  width: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navegacion--li {
  display: flex;
  margin: 1rem 5rem 1rem 3rem;
}
.navegacion--li a {
  transition: color 0.3s;
}
.navegacion--li a:hover {
  color: rgb(162 0 255);
}
.bienvenida-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;
}

.centrar-boton {
  display: flex;
  justify-content: center;
}
.descargar-cv {
  cursor: pointer;
  background-color: rgba(153, 0, 255, 1);
  border-radius: 0.2rem;
  padding: 0.8rem 1rem;
  transition: transform 0.5s;
}
.descargar-cv:hover {
  transform: scale(1.05);
}
.redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.red-social-fondo:hover {
  transform: scale(1.1);
}
.red-social-fondo {
  cursor: pointer;
  padding: 0.4rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgba(153, 0, 255, 1);
  transition: transform 0.5s;
}
.tienda-online-arrow {
  animation: arrowanimation 0.55s infinite alternate ease-in-out;
}
.z-1 {
  z-index: -1;
}

@keyframes arrowanimation {
  0% {
    -webkit-transform: translateY(-2rem);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(-1rem);
    opacity: 1;
  }
}
.titulo-h2 {
  text-align: center;
  font-weight: 400;
}
.sobre-mi-descripcion {
  text-align: center;
  margin: 2rem;
  margin-top: 1rem;
}
.mi-foto {
  width: 12rem;
  height: 13rem;
  border-radius: 0.5rem;
}
.centrar-foto {
  display: flex;
  justify-content: center;
}

.habilidades {
  margin: 0 1.5rem;
  font-size: 1.3rem;
}
.tecnologia-img {
  width: 7rem;
}
.tecnologia-titulo {
  text-align: center;
}
.slides {
  display: grid;
  grid-auto-flow: column;
  margin: 2rem;
  overflow-y: auto;
  overflow: scroll;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}
.slides div {
  margin: 0 0.5rem;
}
.slides img {
  width: 6rem;
  object-fit: contain;
}
.tecnologia-card:hover {
  transform: scale(1.1);
}

.bootstrap,
.next,
.sass {
  height: 6rem;
}

.tecnologia-card {
  width: 6rem;

  transition: all 0.5s;
  cursor: pointer;
}

.proyectosContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centrar-btn {
  display: flex;
  justify-content: center;
}
.avatar {
  position: absolute;
  width: 12rem;
  right: -3.5rem;
  transform: rotate(-30deg);
  top: 23rem;
}
@media only screen and (min-width: 600px) {
  .hamburger-react {
    display: none;
  }
  .contenedor-superior {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .navegacion-inactiva {
    display: flex;
    padding-bottom: 1rem;
  }
  .navegacion--ul {
    position: relative;
    background-color: transparent;

    flex-direction: row;
    height: 0;
    width: 100%;
  }
  .navegacion--li {
    margin: 0 1rem;
  }
  h1 span {
    font-size: 2rem;
  }
  .slides {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    overflow: hidden;
  }
  .proyectosContenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 2rem;
  }
}
@media only screen and (min-width: 900px) {
  .contenedor-superior {
    flex-direction: row;
    transition: background-color 1.5s;
    padding: 1rem 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  h1 span {
    font-size: 2.5rem;
  }
  .bienvenida-contenedor {
    margin: 0 5rem;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
  }
  .botones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31rem;
  }
  .redes-sociales {
    margin: 0;
  }
  .descargar-cv {
    margin-right: 1rem;
  }

  .avatar {
    display: block;
    transform: rotate(0);
    position: inherit;
    width: 19rem;
    opacity: 0.8;
  }
  .avatar-div {
    margin: 0 auto;
  }
  .presentacion-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slides {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50rem;
    margin: 2rem auto;
  }
  .tecnologia-card {
    margin: 0 2rem !important;
  }
  .habilidades {
    text-align: center;
    margin: 1.5rem 0;
  }
  .desktop-habilidades {
    display: flex;
    margin: 2rem 4rem;
  }

  .sobre-mi-descripcion {
    margin: 2.5rem 0;
  }
  .sobre-mi-contenedor-desktop {
    width: 20rem;
  }
  .proyectosContenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70rem;
    margin: 0 auto;
  }
}

.flip-card {
  margin: .5rem 0;
  width: 20rem;
  height: 11.5rem;
  perspective: 1000px;
  cursor: pointer;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  border-radius: 0.3rem;
  background-color: rgb(80 0 133 / 81%);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back h3 {
  font-weight: 300;
  margin-top: 2rem;
}
.ver-proyecto {
  background-color: #fff;
  color: #000000f1;
  padding: 0.6rem 1rem;
  border-radius: 0.2rem;
}
.centrar-btn {
  display: flex;
  align-items: center;
  height: 10vh;
  transition: all 0.4s;
}
.centrar-btn:hover {
  transform: scale(1.05);
}
.linkedinLogo {
  width: 5rem;
  transition: all .5s;
}
.mailLogo,
.wppLogo {
  width: 6.5rem;
  transition: all .3s;
}
.contacto{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  margin-bottom: 2rem;
}
.mailLogo:hover,.wppLogo:hover,.linkedinLogo:hover{
  transform: scale(1.1);
}
#root{
  overflow: hidden;
}